<%= content_for :page_title do %>
    Services
<% end %>
<article class="col-xs-8 col-sm-9">
  <hgroup>
    <h2>Services.</h2>

    <h3>Clean software. Applications made to go beyond your expectations.</h3>
  </hgroup>
  <article>
    <header>
      <p>We offer a complete spectrum of software development services to make your project a reality.</p>
    </header>
    <section>
      <header>
        <h4>Design User Interfaces</h4>
      </header>
      <p>
        Great software starts with a proper <em style="color:rgb(251, 197, 99)">design and user experience</em>,
        oriented to provide value and highlight the features we develop.
        <br/>
        We will not only work with you to deliver an attractive and modern design, but also to determine the business
        objectives,
        identify usability problems and ensure your application is usable, accessible and beautiful.
      </p>
    </section>

    <section>
      <header>
        <h4>Build Rock Solid Software</h4>
      </header>
      <p>
        We can build the first release of your product in a matter of weeks. To give you a jump-start,
        we'll focus on the minimal viable product so you can get to market as soon as possible.
        Releasing early and often, we'll partner with you to make your vision a reality.
        We are committed to <em style="color:rgb(251, 197, 99)">delivering quality</em>, and you can rest assured your
        application will scale to meet the changing demands of your business.
      </p>
    </section>

    <section>
      <header>
        <h4>Maintain Your Applications</h4>
      </header>
      <p>
        You need a company that's accountable, a company that will not only build your product, but also
        <em style="color:rgb(251, 197, 99)">maintain it</em>.
      </p>
    </section>

    <section>
      <header>
        <h4>User Training</h4>
      </header>
      <p>
        Yes, we will be there to <em style="color:rgb(251, 197, 99)">train your users</em> on how to use the
        applications we develop.
        <br/>
        Online, by phone or in person are options that we will offer once we get closer to a deployment stage.
      </p>
    </section>
  </article>
  <section>
    <header>
      <h3>Development Stack </h3>
    </header>
    <ul>
      <li><a href="http://www.asp.net/mvc" target="_blank" rel="nofollow" title="Microsoft .NET MVC">.NET MVC</a></li>
      <li>
        <a href="https://www.microsoft.com/en-us/sqlserver/" target="_blank" rel="nofollow" title="Microsoft SQL Server">MS
          SQL Server</a></li>
      <li>
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="nofollow" title="Javascript (including jQuery, Angular.js, Backbone.js,...)">Javascript</a>
      </li>
      <li><a href="http://www.w3.org/html/wg/drafts/html/master/" target="_blank" rel="nofollow" title="HTML 5, CSS 3">HTML
        + CSS</a></li>
      <li><%= link_to 'Ruby', 'https://www.ruby-lang.org/en/' %> and <%= link_to 'Ruby On Rails', 'http://rubyonrails.org/' %></li>
      <li><%= link_to 'MongoDB', 'http://www.mongodb.org/' %></li>
      <li><a href="http://php.net/" target="_blank" rel="nofollow" title="PHP">PHP</a></li>
      <li><a href="http://www.mysql.com/" target="_blank" rel="nofollow" title="MySQL">MySQL</a></li>
      <li>
        <a href="http://www.guptatechnologies.com/Products/data_management/SQLBase/" target="_blank" rel="nofollow" title="Gupta SQLBase">SQLBase</a>
      </li>
    </ul>
  </section>
</article>
<aside class="col-xs-4 col-sm-3">
  <div class="thumbnail">
    <%= image_tag 'mvc.png', alt: 'Microsoft .NET MVC' %>
    <div class="caption text-center"><h3>.NET MVC</h3></div>
    ß
  </div>
  <div class="thumbnail">
    <%= image_tag 'ms-sql-server.png', alt: 'MS SQL Server' %>
    <div class="caption text-center"><h3>MS SQL Server</h3></div>
  </div>
  <div class="thumbnail">
    <%= image_tag 'javascript.png', alt: 'Javascript' %>
    <div class="caption text-center"><h3>Javascript</h3></div>
  </div>
</aside>